*,
* ::before, 
*:after{
	box-sizing: border-box;
}
html, body{
	min-height: 100%;
}
html{
	height: 100%;
}
body{
	font: 400 17px/1.8 Raleway, sans-serif;
	color: #444;
	margin: 0;
}
a{
		color: #ffffff;
}
	a:hover{
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6{
		margin: 0;
	}
	h1{
		font-family: AdobeInvisFont,MyriadPro-Regular;
		margin-bottom: 0px;
		font-size: 70px;
		padding-top: 200px;
	}
	.ba-intro-subtitle{
		font-family: OpenSans-Semibold,AdobeInvisFont,MyriadPro-Regular;
		font-size: 17;
		margin: 0 0 60px;
	}
	.ba-header{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.ba-container{
		max-width: 1201px;
		padding: 0 15px;
		margin: 0 auto;
		width: 100%;
	}
	.ba-section-intro{
		background: #444 url(../img/pictureall.png) no-repeat;
		background-position: top;
		color: #ffffff;
		text-align: left;
		width: 100%;
		padding: 120px 0 250px ; 
	
	}
	.ba-menu{
		list-style: none;
		margin: 50px;
	}
	.ba-menu li{
		display: inline;
		padding: 10px 20px;
	}
	.ba-menu li + li{
		margin-left: 0;
	}
	.ba-logo img{
		display: block;
		padding-top: 25px;
	}
	.ba-header-bar{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 10px;
	}
	.ba-button-hollow{
		display: inline-block;
		border: 2px solid #ff5f60;
		padding: 7px 21px;
		background: #ff5f60;
		color: #ffffff;
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		border-radius: 30px;
		letter-spacing: 0.4px;
	}
	
	